.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1111;
  background: #1b1a1ae1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.orange-gradient {
  background: linear-gradient(10deg, #ffaa00, #ff6a00);
}
